<div class="container text-card">
    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Find Vowels and sort according to Natural order (A-Z)</h5>
                    <h6>Vowels : A, E, I, O, and U</h6>
                    <p class="card-text">You have to type or paste a paragraph in this text area. then click submit button.
                    </p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Paragraph</span>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <textarea class="form-control" placeholder="type..." id="exampleFormControlTextarea1" rows="5" [(ngModel)]="paragraph"></textarea>
                    </div>
                    <div class="input-group mb-3 flex-row-reverse">
                        <button type="button" class="btn btn-success" (click)="submitParagraph()">Submit</button>
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Sorted Words (A-Z)</span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">word</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let word of respArray; let i = index;">
                                    <th scope="row">{{i}}</th>
                                    <td>{{word}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
