<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary"></mat-toolbar>
    
    <mat-nav-list color="primary">
      <div class="container">
        <div class="nav-img row justify-content-center">
          <div mat-card-avatar class="header-image"></div>
        </div>
      </div>
      <a mat-list-item routerLink="dashboard" class="nav-item">
        <mat-icon aria-hidden="false">dashboard</mat-icon>
        <span style="padding: 10%;"></span>
        Dashboard
      </a>
      <a mat-list-item routerLink="add" class="nav-item">
        <mat-icon aria-hidden="false">record_voice_over</mat-icon>
        <span style="padding: 10%;"></span>
        Add Pet
      </a>
      <a mat-list-item routerLink="details" class="nav-item">Pet Details</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>DTS PET Clinic</span>

      <div class="container">
        <div class="row justify-content-end">
          
          <button mat-mini-fab [matMenuTriggerFor]="logOut" aria-label="Example icon button with a home icon">
             <mat-icon>face</mat-icon>
          </button>
        
          <mat-menu #logOut="matMenu" class="nav-item">
              <button mat-menu-item class="nav-item">Settings</button>
              <button mat-menu-item routerLink="/login" class="nav-item">Logout</button>
          </mat-menu>
       
        </div>        
    </div>

    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
