<div class="container text-card">
    <div class="d-flex justify-content-center">
        <div class="row justify-content-center">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title"><b>Anagram</b></h3>
                    <p class="card-text">You need to fill first and second words
                    </p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">First Word</span>
                        </div>
                        <input type="text" class="form-control" placeholder="1st string" #first [value]="arrFirst">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Second Word</span>
                        </div>
                        <input type="text" class="form-control" placeholder="2nd string" #second [value]="arrSecond">
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-success" (click)="submitWords(first.value , second.value )">Submit</button>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div *ngIf="response" class="card">
                <div class="card-body">
                    <h2>Yes,</h2>
                    <h5 class="card-text">{{arrFirst}} and {{arrSecond}} both words are Anagram words.
                    </h5>
                </div>
            </div>
            <div *ngIf="!response && (arrFirst || arrSecond)" class="card">
                <div *ngIf="arrFirst && arrSecond" class="card-body">
                    <h2>No,</h2>
                    <h5 class="card-text"><b>{{arrFirst}}</b> and <b>{{arrSecond}}</b> both words are not Anagram words.
                    </h5>
                </div>
                <div *ngIf="!arrFirst || !arrSecond" class="card-body">
                    <p class="card-text"> You need to fill both fields </p>
                </div>
            </div>
        </div>
    </div>
</div>