<div class="d-flex justify-content-center">
    <nav class="nav">
        <li>
            <a routerLink="home">
                <mat-icon aria-label="icon">dashboard</mat-icon>
                Dashboard
            </a>
        </li>
        <li>
            <a routerLink="anagram">
                <mat-icon aria-label="icon">spellcheck</mat-icon>
                Anagram
            </a>
        </li>
        <li>
            <a routerLink="large-num">
                <mat-icon aria-label="icon">pin</mat-icon>
                Find Large Number
            </a>
        </li>
        <li><a href="#">occurrence</a></li>
    </nav>
</div>